header {
    width: 100%;
    height: max-content;
    display: flex;
    grid-area: header;
    background-color:$detalles;
}

h1 {
    display: block;
    width: max-content;
    height: max-content;
    font-size: 15px;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    background-color: $detalles;
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
}

.logoNao{
    background-image: url(/assets/logoNao.png);
    height: 150px;
    width: 150px;
}

li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 15px;
}
.buttonNav

a {
    text-align: center;
    text-decoration: none;
}

li a {
    color:$color-principal;
    padding: 15px;
}