header {
    width: 100%;
    display: flex;
    grid-area: header;
    gap: 32px;
    background-color:$detalles;
}

h1 {
    display: flex;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    background-color: $detalles;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    background-image: url(/assets/logoNao2.png);
    width: 200px;
    height: 200px;
    background-size: cover;
}

li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 15px;
}

a {
    text-align: center;
    text-decoration: none;
}

li a {
    color:$color-principal;
    padding: 15px;
}